@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Harmattan', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    'Harmattan',
    'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

.home-page,
.page-calculator,
.page-quote {
  height: auto;
  min-height: 76.9%;
}

footer {
  padding: 0 3vw;
  margin-top: 18px;
  color: #fff;
  background: #3a3a47;
  border: 1px solid #1c1c22;
}
